body {
    background: #4d4d4d;

    font-family: Andale Mono, monospace;
    font-style: normal;
    font-size: 26px;
}

h1 {
    color: #000000;
}

#posts {
    margin-top: 70px;
    margin-left: 70px;
}

#greeting {
    height: 48px;

    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50% - 800px);

    font-weight: 400;
    font-size: 48px;

    text-align: center;
    letter-spacing: 0.9em;

    text-shadow: 20px 15px 6px rgba(0, 0, 0, 0.25);
}

#error {
    color: #b71a1a;
}

a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 10%;
    margin-right: 0.5%;
    text-align: center;
    line-height: 2;
    color: black;
  }

a:link {
    color: #1a1a1a;
}

a:visited {
    color: #1a1a1a;
}

a:focus {
    border-radius: 10px;
    background: #8e8e8e;
}

a:hover {
    border-radius: 10px;
    background: #3c3c3c;
  }
  
a:active {
    background: #717070;
    color: #8e8e8e;
  }

#avatar {
    border-radius: 30px;
}