body {
    background: #4d4d4d;

    font-family: Andale Mono, monospace;
    font-style: normal;
    font-size: 26px;
}

h1 {
    color: #000000;
}

#posts {
    margin-top: 70px;
    margin-left: 70px;
}

#greeting {
    height: 48px;

    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50% - 800px);

    font-weight: 400;
    font-size: 48px;

    text-align: center;
    letter-spacing: 0.9em;

    text-shadow: 20px 15px 6px rgba(0, 0, 0, 0.25);
}

#error {
    color: #b71a1a;
}

#edit_profile {
    outline: none;
    text-decoration: none;
    color: #1a1a1a;
}

#edit_profile:link {
    color: #1a1a1a;
}

#edit_profile:visited {
    color: #1a1a1a;
}

#edit_profile:focus {
    border-radius: 10px;
    background: #8e8e8e;
}

#edit_profile:hover {
    border-radius: 10px;
    background: #3c3c3c;
  }
  
#edit_profile:active {
    background: #717070;
    color: #8e8e8e;
  }

#avatar {
    border-radius: 30px;
}

#map_links {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 10%;
    margin-right: 0.5%;
    text-align: center;
    line-height: 2;
    color: #1a1a1a;
  }

#map_links:link {
    color: #1a1a1a;
}

#map_links:visited {
    color: #1a1a1a;
}

#map_links:focus {
    border-radius: 10px;
    background: #8e8e8e;
}

#map_links:hover {
    border-radius: 10px;
    background: #3c3c3c;
  }
  
#map_links:active {
    background: #717070;
    color: #8e8e8e;
  }

#avatar {
    border-radius: 30px;
}

/* #username {
    height: 30px;
    font-size: 60px;
} */