body {
    background: #282c34;
}

h1, p {
    height: 48px;

    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50% - 400px - 50px);

    font-family: 'monospace';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;

    text-align: center;
    letter-spacing: 0.9em;

    color: #000000;

    text-shadow: 20px 15px 6px rgba(0, 0, 0, 0.25);
}