body {
    background: #4d4d4d;

    font-family: Andale Mono, monospace;
    font-style: normal;
    font-size: 26px;
}

h1 {
    color: #000000;
}

#posts {
    margin-top: 70px;
    margin-left: 70px;
}

#greeting {
    height: 48px;

    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50% - 800px);

    font-weight: 400;
    font-size: 48px;

    text-align: center;
    letter-spacing: 0.9em;

    text-shadow: 20px 15px 6px rgba(0, 0, 0, 0.25);
}

#error {
    color: #b71a1a;
}