
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Base</title>
    {% endif %}
</head>
    <body>
        <div>
        <a id="map_links" href="{{ url_for('index') }}">Blog</a>
        <a id="map_links" href="{{ url_for('login') }}">Login</a>
        <a id="map_links" href="{{ url_for('register') }}">Register</a>
        <a id="map_links" href="{{ url_for('logout') }}">Logout</a>
        <a id="map_links" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>