{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img id="avatar" src="{{ user.avatar(128) }}"></td>
            <td>
                <h1 id="username">{{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Был(а) онлайн: {{ user.last_seen.strftime('%d.%Y - %H:%M:%S') }}</p>{% endif %}
                <p>{{ user.followers.count() }} подписчики, {{ user.followed.count() }} подписки.</p>
                {% if user == current_user %}
                <p><a id="edit_profile" href="{{ url_for('edit_profile') }}">Редактировать профиль</a></p>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Подписаться')}}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Отписаться')}}
                    </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older</a>
    {% endif %}
{% endblock %}